# Секреты и локальные настройки
.env

# База данных
*.db
*.db-wal
*.db-shm

# Журналы
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Архивы проекта: могут содержать .env с токеном
*.rar
*.zip
*.7z

LVL3.lnk

.gitignore